@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutPortalDeTI";
    List<NewsDB> news = (List<NewsDB>)ViewBag.News;
}

@section Styles {
}
<div class="col-12" style="display:flex ;flex-direction:row-reverse; padding-right:25px">
    <div class="col-md-2 col-md-offset-10" style="margin-top:10px; display:flex; float:right">
        <input type="text" class="form-control data-tables-search" placeholder="Pesquisar" />
    </div>
</div>
<hr>

<div style="display:inline-flex">
    <h1>
        News
    </h1>
    <h3>
        <a style="margin-left:75rem;" href="/news/create">
            <i style="color:#4d6184;" class="fas fa-plus"></i>
        </a>
    </h3>

</div>

<div class="col-12" style="text-align:center">
    <table class="table data-tables">
        <thead>
            <tr>
                <th>
                    Imagem
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Data
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (NewsDB item in news)
            {
                <tr>
                    <td>
                        <a href="/news/@item.Id">
                            <img src="@item.CaminhoImg" class="img-fluid rounded-start" alt="..." style="width:100px">
                        </a>
                    </td>
                    <td>
                        <a href="/news/@item.Id">
                            @item.Nome
                            @item.Resenha
                        </a>
                    </td>

                    <td>@item.DataCadastro.ToString("dd/MM/yyyy")</td>
                    <td>
                        <h4>
                            <a href="/news/edit/@item.Id">
                                <i style="color:#4d6184;" class="far fa-edit"></i>
                            </a>
                            |
                            <a href="/news/delete/@item.Id">
                                <i style="color:#4d6184;" class="fas fa-trash"></i>
                            </a>
                        </h4>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {

}
