@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "_LayoutPortalDeTI";
}
@section Styles {
    <link href="~/Content/PortalDeTi/main.css" rel="stylesheet" />
    


}

<div class="col-md-12">
    <!-- column 2 -->
    <div class="row">
        <div class="col-md-2 col-md-offset-10" style="margin-top:10px; float:right">
            <input type="text" class="form-control" placeholder="Pesquisar" />
        </div>
    </div>
    <hr>
    <div class="row" style="height:50%">
        <!-- center left-->
        <div class="col-md-8" style="background-color:red; height:100%;">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://placeimg.com/1080/500/animals" class="d-block" style="width:100%" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://placeimg.com/1080/500/arch" class="d-block" style="width:100%" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://placeimg.com/1080/500/nature" class="d-block" style="width:100%" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
           
        </div><!--/col-->
        <div class="col-md-4" style="background-color:green; height:100%;">

            Bloco 02
        </div><!--/col-->
        <!--center-right-->

    </div><!--/row-->
    <div class="row" style="height: 300px">
        <!-- center left-->
        <div class="col-md-8" style="background-color: blue; height:100%;">

            Bloco 03
        </div><!--/col-->
        <div class="col-md-4" style="background-color:yellow; height:100%;">

            Bloco 04
        </div><!--/col-->
        <!--center-right-->

    </div><!--/row-->
</div><!--/col-span-9-->

@section Scripts {
    <script src="~/Content/PortalDeTi/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
}
