@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "_LayoutPortalDeTI";
}
@section Styles {
    <link href="~/Content/PortalDeTi/main.css" rel="stylesheet" />
}

<div class="col-md-10">
    <!-- column 2 -->
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <input type="text" class="form-control" placeholder="Pesquisar" />
        </div>
    </div>
    <hr>
    <div class="row" style="height: 200px">
        <!-- center left-->
        <div class="col-md-8" style="background-color:red; height:100%;">

            Bloco 01
        </div><!--/col-->
        <div class="col-md-4" style="background-color:green; height:100%;">

            Bloco 02
        </div><!--/col-->
        <!--center-right-->

    </div><!--/row-->
    <div class="row" style="height: 300px">
        <!-- center left-->
        <div class="col-md-8" style="background-color:blue; height:100%;">

            Bloco 03
        </div><!--/col-->
        <div class="col-md-4" style="background-color:yellow; height:100%;">

            Bloco 04
        </div><!--/col-->
        <!--center-right-->

    </div><!--/row-->
</div><!--/col-span-9-->

@section Scripts {
    <script src="~/Content/PortalDeTi/main.js"></script>
}
