@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@{
    Layout = "_LayoutPortalDeTI";
}



<div>
    <div class="navbar navbar-default navbar-fixed-top" role="banner">
        <img src="https://static.vecteezy.com/system/resources/thumbnails/002/558/921/small/abstract-rainbow-header-modern-spectrum-banner-simple-illustration-vector.jpg" class="img-responsive" alt="Portal de TI">
    </div>
</div>


