@{
   

}

<html lang="en" class="menuitem-active">
<head>
    <meta charset="utf-8">
    <title>Portal de Ti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description">
    <meta content="" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

   
    @RenderSection("Styles", required: false)

</head>
<body>
    @RenderBody()
     

    <!-- end demo js-->
    @RenderSection("Scripts", required: false)
</body>
</html>